@import '@/assets/scss/variables.scss';

p {
  color: white;
}

.icon {
  @media (max-width: $md4 + px) {
    max-width: 30px;
  }
}

.mail__messages {
  &-module {
    position: relative;
  }

  &-icon {
    cursor: pointer;

    .ellipse-notification {
      position: absolute;
      top: -5px;
      right: -5px;
      max-width: 12px;
      height: 12px;
      width: 100%;
      border-radius: 100%;
      background: red;
      @media (max-width: $md4 + px) {
        top: 0;
        right: -5;
        max-width: 5px;
        height: 5px;
      }
    }
  }

  &-notification {
    min-width: 424px;
    position: absolute;
    right: -10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 36px;
    border: 2px solid $primary;
    background: #1e1e1e;
    padding: 20px 25px;
    @media (max-width: $md4 + px) {
      min-width: 300px;
      top: 50px;
      left: 0;
    }
  }
}

.notification {
  &-title {
    font-size: 26px;
    @media (max-width: $md4 + px) {
      font-size: 16px;
    }
  }

  &-list {
    max-height: 432px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 0 15px 0 0;

    &::-webkit-scrollbar-thumb {
      background: $dark-primary;
      border-radius: 36px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 36px;
    }

    gap: 20px;
  }

  &-item {
    display: flex;
    flex-direction: column;
    background: #2c2c2c;
    border-radius: 36px;
    padding: 20px;
    gap: 10px;
  }

  &-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &-actions {
    display: flex;
    justify-content: end;
    align-items: center;
  }
}

.content {
  &-message {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
    max-width: 290px;
    line-height: 23.2px;
    @media (max-width: $md4 + px) {
      font-size: 10px;
    }
    strong {
      color: $dark-primary;
    }
    .description {
      color: #bbbbbb;
      font-size: 12px;
      @media (max-width: $md4 + px) {
        font-size: 8px;
      }
    }
  }
}