@import 'fonts';
@import 'base';
@import 'variables';
@import 'null';
@import 'animation';
@import 'typography';

#app {
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

.page {
  flex: 1 1 auto;
  background: $background;
}

p{
  line-height: 140%;
}
