@import 'variables';
@import 'mixins';

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  &::-webkit-scrollbar{
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff50;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

button {
  outline: none !important;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}



html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: $font;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: $font, serif;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

p{
  line-height: 140%;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}