@import '@/assets/scss/variables';
@import '@/assets/scss/animation';

#show_all {
  width: 100%;
  max-width: 326px;
  margin: 0 auto;

  p {
    color: #fff;
  }
}


.popular {
  &__game {
    &-loader {
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

    }

    &-module {
      display: flex;
      flex-direction: column;
      gap: 40px;
      @media (max-width: $md2 + px) {
        gap: 24px;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      &-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .more {
          cursor: pointer;
          color: #bbbbbb;
          transition: 0.1s all ease-in-out;
          &:hover {
            opacity: 0.7;
          }
        }
      }

      &-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 25px;
        max-height: 1100px;
        overflow: hidden;

        &.all {
          max-height: none;
          overflow: hidden;
        }

        @media (max-width: 1640px) {
          gap: 32px;
        }
        @media (max-width: $md2 + px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $md3 + px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $md4 + px) {
          gap: 16px;
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: $md5 + px) {
          gap: 8px;
        }
      }


    }

    &-alert {
      position: fixed;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translate(-50%, 0);
      text-align: center;
      background: #FF3939;
      padding: 10px;
      font-size: calc(8px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
      z-index: 10;
    }
  }
}

.filter {
  cursor: pointer;
  display: flex;
  gap: 50px;
  padding: 20px 28px;

  &-category {

  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-list {
    display: none;
  }

  &::after {
    content: '^';
  }

}


.title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-size: 32px;

  @media (max-width: $md4 + px) {
    font-size: 20px;
  }
}