@import '@/assets/scss/variables';
@import '@/assets/scss/animation';

.search {
  border-bottom: 1px solid white;
  display: flex;
  justify-content: flex-start;
  flex: 0 1 543px;
  @media (max-width: $md3 + px) {
    flex-direction: row !important;
    flex: 0 1 60px;
  }
}

input {
  width: 100%;
  background: none;
  padding: 16px 0;
  color: $white;
  font-size: 20px;
}

.popular {
  &__game {
    &-loader {
      padding: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 30px;

    }

    &-filters {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 80px 0;
      gap: 30px;
      @media (max-width: $md3 + px) {
        flex-direction: column;
        gap: 30px;
      }

      .filters-item {
        display: flex;
        align-items: center;
        gap: 30px;
        width: 100%;
        max-width: 848px;
        @media (max-width: $md3 + px) {
          width: 100%;
          flex-direction: column;
        }
      }
    }

    &-module {
      display: flex;
      flex-direction: column;
      gap: 36px;

      @media (max-width: $md2 + px) {
        gap: 24px;
      }

      &-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        font-size: 32px;

        @media (max-width: $md4 + px) {
          font-size: 20px;
        }
      }

      &-items {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 24px;

        @media (max-width: 1640px) {
          gap: 32px;
        }
        @media (max-width: $md2 + px) {
          grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: $md4 + px) {
          gap: 16px;
        }
        @media (max-width: $md5 + px) {
          gap: 8px;
        }
      }


    }

    &-alert {
      position: fixed;
      top: 0;
      left: 50%;
      width: 100%;
      transform: translate(-50%, 0);
      text-align: center;
      background: #FF3939;
      padding: 10px;
      font-size: calc(8px + (20 + 20 * 0.7) * ((100vw - 320px) / 1920));
      z-index: 10;
    }
  }
}

.filter {
  cursor: pointer;
  display: flex;
  gap: 50px;
  padding: 20px 28px;

  &-category {

  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-list {
    display: none;
  }

  &::after {
    content: '^';
  }

}