@import "@/assets/scss/variables";

.message {
  &-success {
    position: absolute;
    background: #45CC3A;
    padding: 20px;
    width: 100%;
    border-radius: 26px;
  }
  &-error {
    position: absolute;
    background: #FF3939;
    padding: 20px;
    width: 100%;
    border-radius: 26px;
  }
}

.authorization {

  &-module {
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 26px;
    background: #2C2C2C;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
    padding: 32px 28px;
  }
  &-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

  }
  &-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;

    h1 {
      font-size: 28px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      color: #BBB;
      max-width: 365px;
      line-height: 145%;
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &-send {
      width: 100%;
    }
  }

  &-registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &-info {
      font-size: 14px;
      span{
        text-decoration: underline;
      }
    }

  }

  &-accept {
    width: 100%;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      font-size: 14px;
    }
  }
}

.accept {
  &-item-field {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    &.checkbox{
      padding: 0 50px;
      @media (max-width: $md4 + px) {
        padding: 0;
      }
    }

    input {
      cursor: pointer;
      width: 100%;
      max-width: 24px;
      min-height: 24px;
    }

    label {
      font-size: 14px;
      @media (max-width: $md5 + px) {
        font-size: 12px;
      }
    }
  }

  &-item-support {
    flex: 1 0 auto;
  }
}


span {
  color: #D5A748;
  cursor: pointer;
  font-size: 14px;
}

.form {
  &-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    line-height: 145%;
    font-size: 14px;

    &-input {
      width: 100%;
      border-bottom: 1px solid #D5A748;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      padding: 16px;
    }

    label {
      font-weight: 500;
    }

    input {
      width: 100%;
      padding: 0 5px;
      border-radius: 36px;
      font-weight: 400;
      background: none;
      color: #fff;
      &:target {
        background: none;
      }
    }
  }
}

.btn-send-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 100%;
  color: #fff
}


.btn-registration {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: #fff;

  p {
    font-size: 12px;
    @media (max-width: $md5 + px) {
      font-size: 8px;
    }
  }
  span{
    @media (max-width: $md5 + px) {
      font-size: 10px;
    }
  }
}