@import '@/assets/scss/variables';

.roulette__module {
  display: flex;
  flex-direction: column;

  &-card {
    border-radius: 36px;
    background: $gray;
    padding: 12px 40px 20px 40px;
    flex: 1 0 190px;
  }

  &-icon {
    position: relative;
    top: 30px;
    flex: 1 0 154px;
    @media (max-width: $md4 + px) {
      flex: none;

      width: 100px;
      height: 80px;
    }
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &-head {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;

    h3 {
      font-size: 32px;
      font-weight: 700;
      @media (max-width: $md4 + px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 14px;
      color: #bbbbbb;
      @media (max-width: $md4 + px) {
        font-size: 10px;
      }
    }
  }

  &-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    @media (max-width: $md4 + px) {
      gap: 20px;
    }

    h2 {
      font-size: 32px;
      font-weight: 700;
      @media (max-width: $md4 + px) {
        font-size: 20px;
      }
    }

    p {
      color: $white;
    }
  }
}