.provider {
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    color: #fff;
    max-width: 150px;
    font-size: calc(7px + (12 + 12 * 0.7) * ((100vw - 320px) / 1920));
  }

  &-button {
    width: 100%;
  }
}