@import '@/assets/scss/variables';

.page {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 100px;
  @media (max-width: $md4 + px) {
    gap: 20px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  &-modules {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &-how_start {
    display: flex;
    flex-direction: column;
    gap: 24px;

  }

  &-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $md4 + px) {
      flex-direction: column-reverse;
      gap: 24px;
    }
  }

}

.how_start {
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    text-align: center;
    @media (max-width: $md4 + px) {
      flex-direction: column;
      text-align: start;
    }
  }

  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 700;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 330px;

    @media (max-width: $md4 + px) {
      flex-direction: row;
      max-width: none;
    }

    &-image {
      margin: 0 0 8px 0;
    }

    &-title {
      font-size: 24px;
      font-weight: 700;
      color: #D5A748;
      @media (max-width: $md4 + px) {
        font-size: 18px;
      }
    }

    &-description {
      color: #BBBBBB;
      font-size: 16px;
      line-height: 23.2px;
      @media (max-width: $md4 + px) {
        font-size: 14px;
      }
    }
  }
}

.about {
  &-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    max-width: 966px;
  }

  &-image {
    img {
      width: 100%;
      height: 100%;
    }

    @media (max-width: $md4 + px) {
      max-width: 327px;
      max-height: 224px;
    }
  }

  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 700;
    @media (max-width: $md4 + px) {
      font-size: 20px;
    }
  }

  &-description {
    color: #BBBBBB;
    font-size: 24px;
    line-height: 34.8px;
    @media (max-width: $md4 + px) {
      font-size: 16px;
      line-height: 23.2px;
    }

  }
}