@import "@/assets/scss/variables";

.sum__translation {
  &-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    color: #fff;
    padding: 36px 26px;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    &-timer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;
      border-radius: 26px;
      background: #1E1E1E;
      padding: 5px;
      color: #fff;
    }

    &-attention {
      font-size: 14px;
      font-weight: 500;
      color: #bbb;
      line-height: normal;
    }

    &-info {
      &-items {
        display: flex;
        flex-direction: column;
        border-radius: 26px;
        background: #1E1E1E;
        padding: 10px 0;

        div {
          &:nth-child(1) {
            border: none;
          }
        }
      }

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 21px 14px 21px;
        border-top: 1px solid #bbb;

        .item-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 7px;
          p {
            font-size: 12px;
            color: #bbb;
            font-weight: 400;
          }
          h4 {
            font-size: 14px;
            font-weight: 600;
          }
          img {
            max-width: 38px;
            max-height: 38px;
          }
        }
      }
    }

    &-alerts {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    &-alert {
      cursor: pointer;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      border-radius: 0 0 26px 26px;
      padding: 15px 0;

      @media (max-width: $md4 + px) {
        border-radius: 0;
      }
    }
  }
}

#toBank {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#alert-error {
  background: #FF3939;

}

#alert-success {
  background: #D5A748;

}

.btn-copy-number {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
}