.profile__status {
  &-module {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &-card {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &-container {
    width: 100%;
    display: flex;
    align-content: center;
  }
}