@import '@/assets/scss/variables';

.page {
  color: $white;

  &-modules {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 48px 28px;

    @media (max-width: $md2 + px) {
      padding: 20px;
    }
  }
}