@import '@/assets/scss/variables';


.btn {
  cursor: pointer;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5px 20px;
  font-size: 20px;
  border: 1px solid transparent;
  transition: 0.15s all ease-in-out;

  @media (max-width: $md2 + px) {
    font-size: 18px;
    padding: 10px 16px;
  }


  // Size
  &-small {
    min-height: 28px;
  }

  &-medium {
    min-height: 60px;
    max-height: 60px;
  }

  &-big{
    padding: 20px 32px;

    @media (max-width: 1900px) {
      padding: 20px;
    }

    @media (max-width: 1700px) {
      padding: 32px 16px;
    }

    @media (max-width: $md3 + px) {
      padding: 22px 6px;
      border-radius: 6px!important;
      svg{
        width: 100%;
      }
    }
    @media (max-width: $md4 + px) {
      padding: 12px 6px;
    }
  }

  // Colors
  &-primary {
    background: $primary;
    border-color: $primary;
    color: $primary;

    &:hover {
      path {
        fill: $secondary;
      }

      color: $secondary;
      border-color: $secondary;
    }
  }

  &-secondary {
    background: #262626;
  }
&-white {
  background: #fff;
}

  &-balance-primary {
    background: $primary;
    color: $white;

    &:hover {
      background: $secondary;
    }
  }

  &-withdrawal-primary {
    background: $primary;
    color: $white;

    &:hover {
      background: $secondary;
    }
  }

  &-cashier-primary {
    color: $white;
    background: $cashier-primary;

    &:hover {
      background: $cashier-secondary
    }
  }


  &-provider-primary {
    background: #262F61;

    &:hover {
      background: $secondary;
    }
  }

  // Shadow

  &-shadow-primary {
    box-shadow: $shadow-primary;

    &:hover {
      box-shadow: $shadow-secondary;
    }
  }

  // rounded
  &-rounded-small {
    border-radius: 16px;
    @media (max-width: $md2 + px) {
      border-radius: 8px;
    }
  }

  &-rounded-full {
    border-radius: 36px;
    @media (max-width: $md2 + px) {
      border-radius: 18px;
    }
  }

  // outline

  &-outlined {
    background: none;
  }

  &-active {
    background: $secondary;
  }
}


















