@import '@/assets/scss/variables';

svg {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $md4 + px) {
    max-width: 9px;
    max-height: 9px;
  }
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all ease-in-out;

  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $button-gap-primary;
    font-size: calc(10px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 400;
    @media (max-width: $md4 + px) {
      gap:5px;
      font-size: 10px;
    }
  }

  .arrow-active {
    transform: rotate(180deg);
  }
}

