@import '@/assets/scss/variables';
svg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.15s all ease-in-out;
  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $button-gap-primary;
  }

  .arrow-active {
    transform: rotate(180deg);
  }
}

