@import '@/assets/scss/variables';
.popup {
  position: fixed;
  inset: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    max-width: 920px;
    max-height: 80%;
    width: 100%;
    height: 100%;
    background: #262626;
    border-radius: 26px;
    padding: 70px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media (max-width: $md2 + px) {
      max-width: none;
      width: calc(100% - 80px);
      gap: 24px;
      padding: 32px;
    }

    @media (max-width: $md4 + px) {
      max-width: none;
      width: calc(100% - 40px);
      max-height: none;
      height: calc(100% - 80px);
    }

    &-close {
      position: absolute;
      top: 28px;
      right: 28px;
      cursor: pointer;
    }

    &-title {
      font-size: 32px;
      font-weight: 700;
      text-align: center;

      @media (max-width: $md2 + px) {
        font-size: 24px;
      }
    }

    &-text {
      background-color: #1E1E1E;
      padding: 22px 8px 22px 22px;
      border-radius: 16px;
      height: 100%;
      overflow: hidden;


      .text {
        height: 100%;
        overflow: auto;
        padding-right: 50px;
        line-height: 150%;
        &::-webkit-scrollbar{
          width: 4px;
        }

        &::-webkit-scrollbar-track{
          background-color: #CCCCCC50;
          border-radius: 30px;
        }

        &::-webkit-scrollbar-thumb{
          background-color: #CCCCCC;
          border-radius: 30px;
        }
      }
    }
  }
}