@import '@/assets/scss/variables';
@import '@/assets/scss/animation';

.providers {
  &-module {
    display: flex;
    flex-direction: column;
    gap: 36px;

    @media (max-width: $md2 + px) {
      gap: 24px;
    }

    &-title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      font-size: 32px;

      @media (max-width: $md4 + px) {
        font-size: 20px;
      }
    }

    &-items {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 26px;
      background: #1d2345;
      padding: 42px 18px;
      border-radius: 26px;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));

      @media (max-width: 1600px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (max-width: $md3 + px) {
        gap: 6px;
        padding: 15px 16px;
      }
    }
  }
}