@import '@/assets/scss/variables';

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 48px;
  background: #1E1E1E;
  border-radius: 0 0 36px 36px;
  z-index: 10;

  &-burger-icons {
    display: none;
    @media (max-width: $md4 + px) {
      display: block;
    }
  }

  &-logo {
    img {
      @media (max-width: $md4 + px) {
        max-width: 100px;
        max-height: 54px;
      }
    }

  }

  &-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 36px;

    &-bonus {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      @media (max-width: $md4 + px) {
        display: none;
      }
    }

    &-support {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      @media (max-width: $md4 + px) {
        display: none;
      }
    }

    &-account {
      display: flex;
      gap: 36px;
    }
  }
}

.action {
  &-personal_account {
    @media (max-width: $md4 + px) {
      display: none;
    }
  }
}

