@import '@/assets/scss/variables.scss';

p {
  color: $white;
  font-weight: bold;
}

#toBonusAccount {
  height: 90px;
  width: 100%;
  max-width: 572px;

  p {
    font-size: 32px;
    color: #d5a748;
    @media (max-width: $md3 + px) {
      font-size: 20px;
    }
  }
}

#toWithdrawal {
  width: 100%;
  max-width: 337px;
}

.page {
  color: $white;
  display: flex;
  flex-direction: column;
  gap: 53px;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  &-modules {
    display: flex;
    flex-direction: column;
    gap: 53px;
    @media (max-width: $md5 + px) {
      display: block;
    }
  }

  &-preview {
    width: 100%;
    max-width: 1792px;
    min-height: 765px;
    padding: 40px 0;
    border-radius: 36px;
    background-image: url('/images/bonuses/preview.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    @media (max-width: $md1 + px) {
      padding: 40px;
    }
    @media (max-width: $md3 + px) {
      gap: 20px;
    }

    h2 {
      font-size: 48px;
      flex: 1 0 33%;
      @media (max-width: $md3 + px) {
        font-size: 36px;
      }

      @media (max-width: $md4 + px) {
        font-size: 26px;
      }
    }

    img {
      flex: 1 0 33%;
      object-fit: contain;
      @media (max-width: $md1 + px) {
        max-width: 550px;
      }
      @media (max-width: $md3 + px) {
        max-width: 300px;
      }
    }

    span {
      color: $dark-primary;
    }
  }
}

.preview {
  &-actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    flex: 1 0 33%;
    @media (max-width: $md3 + px) {
      gap: 20px;
    }
  }
}

.modules {
  &-middle {
    display: flex;
    gap: 200px;
    margin: 0 auto;
    @media (max-width: $md2 + px) {
      padding: 0;
      gap: 35px;
    }
    @media (max-width: $md3 + px) {
      flex-direction: column;
    }
  }
}

#note {
  color: $white ;
}