@import '@/assets/scss/variables';

.promocode__module {
  display: flex;
  flex-direction: column;

  &-icon {
    position: relative;
    top: 40px;
    @media (max-width: $md4 + px) {
      flex:none;
      svg {
        width: 100px;
        height: 80px;
      }
    }
  }
}

.personal__bonuses {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &-promo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    padding: 90px 40px 40px 20px;
    background: $dark-primary;
    border-radius: 36px;
    color: $white;
    flex: 0 0 190px;
    @media (max-width: $md4 + px) {
      flex-direction: column;
      gap: 10px;
      width: 100%;
      padding: 40px 40px;
      align-items: normal;
    }


    input {
      background: none;
      border-bottom: 1px solid white;
      color: $white;
      font-size: 20px;
      padding: 0 0 16px 0;

      &::placeholder {
        color: $white;
      }
    }
  }
}