@import '@/assets/scss/variables';

.loyalty__program {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &-title {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &-status {
    max-width: 572px;
  }

  &-promo_permission {
    display: flex;
    flex-direction: column;
    gap: 40px;

    h2 {
      display: flex;
      align-items: center;
      gap: 15px;
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 25px;
      @media (max-width: $md3 + px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: $md4 + px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: $md5 + px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.program {
  &-title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 32px;
    font-weight: 700;
  }

  &-description {
    font-size: 18px;
    font-weight: 400;
    color: #bbbbbb;
  }
}