@import '@/assets/scss/variables';
.replenishment {
  &-cryptocurrency-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: $white;
    padding: 20px;

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      max-width: 372px;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
    }

    &-info {
      &-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 26px;
        background: $purple;
        padding: 5px 0;

        div {
          &:nth-child(1) {
            border: none;
          }
        }
      }

      &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px 21px 14px 21px;
        border-top: 1px solid #bbb;

        .item-info {
          display: flex;
          flex-direction: column;
          gap: 7px;

          p {
            font-size: 12px;
            color: #bbb;
            font-weight: 400;
          }

          h4 {
            font-size: 14px;
            font-weight: 600;
          }
        }
      }
    }

    &-alerts {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      text-align: center;
      color: $white;
    }

    &-alert {
      position: relative;
      cursor: pointer;
      overflow: hidden;
      padding: 15px 0;
      background: $light-success;
      border-radius: 0 0 26px 26px;
      font-size: 16px;
      font-weight: 600;
      @media (max-width: $md4 + px) {
        border-radius:0;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: $white;
  padding: 20px;
}
