@import "@/assets/scss/mixins";

.btn-back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.popup {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-withdrawal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 456px;
    min-height: 647px;
    border-radius: 26px;
    background: #3e4c9d;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    &-conclusion {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 36px 38px;
    }

    &-count {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 16px 0 17px 0;
      border-radius: 26px;
      background: #2f3975;
      font-size: 40px;
      font-weight: 700;
      color: #fff;

      span {
        color: #bbb;
      }
    }
  }
}


.choice {
  &-items {
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid #ccc;

    div {
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.15s all ease-in-out;

      &:hover {
        color: #fff;
        border-bottom: 2px solid #5570fb;
      }
    }
  }

  &-item {
    &.active {
      color: #fff;
      border-bottom: 2px solid #5570fb;
    }
  }
}

.deposit {
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;

  &-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 14px;

    p {
      color: #BBB;
      font-size: 16px;
      font-weight: 400;
    }

    &-pay {
      border-radius: 26px;
      background: #2F3975;
      padding: 16px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      &-content {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 8px;

        h4 {
          color: #fff;
          font-size: 14px;
          font-weight: 600;
        }

        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    &-help {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 14px;

      p {
        color: #BBB;
        font-size: 16px;
        font-weight: 400;
      }

      &-items {
        width: 100%;
        max-width: 380px;
        border-radius: 26px;
        background: #2F3975;

        div {
          &:nth-child(1) {
            border: none;
          }
        }
      }

      &-item {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 4px 21px 15px 21px;
        border-top: 1px solid #CCC;

      }
    }
  }
}

.crypto-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
}