@import '@/assets/scss/variables';

.card {
  width: 100%;
  &-game {
    cursor: pointer;
    min-height: 229px;
    border-radius: 4px;
    transition: 0.15s all ease-in-out;
    display: flex;
    @media (max-width: $md3 + px) {
      min-height:150px ;
    }
    @media (max-width: $md5 + px) {
      min-height:120px ;
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px 0 #D5A748;
    }

    img {
      z-index: 1;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
      @media (max-width: $md2 + px) {
        position: static;
        transform: none;
      }
      @media (max-width: $md4 + px) {
        max-width: 65px;
      }
    }

  }
}