@import '@/assets/scss/variables';

.page {
  color: $white;

  &-modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 24px 0;
  }

  &-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ef5a5a;
    border-radius: 16px;
    padding: 10px 20px;

    @media (max-width: $md4 + px) {
      flex-direction: column;
      gap: 18px;
      padding-bottom: 18px;
      div {
        width: 100%;
      }
    }
  }
}

.btn-text {
  color: $white;
}