@import '@/assets/scss/variables';
@import '@/assets/scss/mixins';

.btn-back-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.popup {
  position: fixed;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: $md4 + px) {
    transform: none;
    top: 0;
    left: 0;
  }

  &-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(5px);
  }

  &-withdrawal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 456px;
    min-height: 647px;
    border-radius: 26px;
    background: $gray;
    box-shadow: 0px 0px 20px 0px $opacity-black;

    @media (max-width: $md4 + px) {
      max-width: none;
      min-height: auto;
      height: 100%;
      border-radius: 0;
    }

    &-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 0.5px solid #ccc;
    }

    &-content {
      max-height: 570px;
      overflow-y: auto;
      @media (max-width: $md4 + px) {
        max-height: 90vh;
        height: 100%;
      }
    }

    &-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 36px 38px;
      @media (max-width: $md4 + px) {
        padding: 18px;
      }
    }

    &-count {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding: 16px 0 17px 0;
      border-radius: 26px;
      background: $dark-gray;
      font-size: 40px;
      font-weight: 700;
      color: $white;

      span {
        color: #bbb;
      }
    }
  }
}

.navigation {
  &-back {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 123px;
    max-height: 30px;
  }

  &-close {
    cursor: pointer;
  }
}

.choice {
  &-items {
    color: #bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid #ccc;

    div {
      cursor: pointer;
      border: 2px solid transparent;
      transition: 0.15s all ease-in-out;

      &:hover {
        color: #fff;
        border-bottom: 2px solid $dark-gray;
      }
    }
  }

  &-item {
    padding: 8px;

    &.active {
      color: #fff;
      border-bottom: 2px solid $dark-gray;
    }
  }
}

.deposit {
  padding: 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;

  @media (max-width: $md4 + px) {
    padding: 18px 0;
    gap: 18px;
  }

  &-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 14px;

    p {
      color: #bbb;
      font-size: 16px;
      font-weight: 400;
    }

    &-pay {
      border-radius: 26px;
      background: #2f3975;
      padding: 16px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;

      &-content {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 8px;

        h4 {
          color: $white;
          font-size: 14px;
          font-weight: 600;
        }

        p {
          font-size: 12px;
          font-weight: 400;
        }
      }
    }

    &-help {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 14px;

      p {
        color: #bbb;
        font-size: 16px;
        font-weight: 400;
      }

      &-items {
        @include no-scroll();
        width: 100%;
        max-width: 380px;
        border-radius: 26px;
        background: #2f3975;
        max-height: 250px;
        overflow-y: scroll;
      }

      &-item {
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 16px;
        padding: 4px 21px 15px 21px;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

.crypto-info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  h4 {
    color: $white;
    font-size: 14px;
    font-weight: 600;
  }
}