@import '@/assets/scss/animation';
@import '@/assets/scss/variables';

.balance {

  &-module-popup {
    position: absolute;
    z-index: 10;
    top: 90%;
    right: 5%;

    &::before {
      position: absolute;
      z-index: -1;
      top: -20px;
      left: 80%;
      transform: translate(-50%, 0);
      display: block;
      content: '';
      width: 100%;
      max-width: 104px;
      min-height: 95px;
      background: #262626;
      clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
      @media (max-width: $md5 + px) {
        min-height: 0;
      }
    }


    width: 100%;
    max-width: 500px;
    background: #262626;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 26px;

    @media (max-width: $md5 + px) {
      position: fixed;
      width: 100vw;
      height: 100vh;
      top: 0;
      right: 0;
      border-radius: 0;
      z-index: 10;
    }

  }
}

.popup {
  &-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 0 25px 36px;
    font-size: 24px;

    &-close {
      display: none;
      @media (max-width: $md5 + px) {
        display: block;
      }
    }

    @media (max-width: $md5 + px) {
      justify-content: space-between;
      padding: 25px 25px 25px 36px;
    }
  }

  &-balances {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: start;
    align-items: center;
    padding: 12px 0 12px 36px;
    background-color: #D5A748;
  }

}


.balance {

  &-item {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 8px;

    }
  }
}

.navigation {
  &-item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 36px;
    border-top: 1px solid #fff;

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

    }

    &-action {
      transform: rotate(90deg);
    }
  }
}

