@import '@/assets/scss/variables';
.profile__statuses {
  &-module {
    border-radius: 36px;
    padding: 40px;
    background: $gray;
    @media (max-width: $md4 + px) {
      padding: 20px;

    }
    &-sections {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light-gray;
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 40px 0;
      @media (max-width: $md4 + px) {
        font-size: 6px;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 40px;
      overflow-y: auto;
      max-height: 500px;
      @media (max-width: $md4 + px) {
        max-height: 300px;
      }
    }
  }
}