.message {
  &-screen {
    color: #fff;

    &-error {
      padding: 36px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
    }

    &-alerts {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    &-alert {
      position: relative;
      overflow: hidden;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 26px 26px;
      padding: 15px 0;
    }


  }
}

#to-chair-alert {
  background: #0F8CFF;
}

#to-repeat-alert {
  background: #FF3939;
}

.error {
  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
  }

  &-description {
    max-width: 377px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }

  &-sum-translation {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 21px;
    border-radius: 26px;
    background: #2F3975;

    p {
      font-size: 12px;
      font-weight: 400;
      color: #BBB;
    }

    strong {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &-feedback {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn-feedback {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: #fff;
    }
  }
}


