@import '@/assets/scss/variables';

.roulette {
	&-module {
		width: 100%;
		border-radius: 36px;
		background: $gray;
		padding: 80px;
		color: #fff;
		display: flex;
		flex-direction: column;
		gap: 90px;
		@media (max-width: $md4 + px) {
			padding: 20px;
		}
	}

	&-title {
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $md4 + px) {
			font-size: 16px;
			h3 {
				font-size: inherit;
			}
		}
	}

	&-count {
		color: $dark-primary;
	}
}

.wheel-pay {
	width: 100%;
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	gap: 30px;
	background-color: rgba(30, 30, 30, 0.71);
	padding: 20px;
	border-radius: 36px;
	@media (max-width: $md4 + px) {
		padding: 10px;
	}

	&.free {
		width: 20%;
	}

	&-title {
		max-width: 260px;
		@media (max-width: $md4 + px) {
			font-size: 10px;
		}
	}

	&-icon {
		cursor: pointer;
		max-width: 80px;
		@media (max-width: $md4 + px) {
			max-width: 40px;
		}

		img {
			width: 100%;
		}
	}
}

.wheel {
	position: relative;

	&-of-cursor {
		position: absolute;
		display: block;
		z-index: 10;
		left: 50%;
		top: -10px;
		transform: translate(-50%, 0);
	}

	&-of-fortune {
		position: relative;
		max-width: 500px;
		max-height: 500px;
		border-radius: 50%;
		overflow: hidden;
		margin: 0 auto;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&.spin {
			animation: spin 1s infinite linear;
			@keyframes spin {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
		}
	}

	&-prizes {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		color: $black;
		text-align: center;

		li {
			position: absolute;
			display: block;
			font-size: 16px;
			@media (max-width: $md5 + px) {
				font-size: 7px;
			}

			&:nth-child(1) {
				left: 150px;
				top: 50px;


			}

			&:nth-child(2) {
				left: 290px;
				top: 70px;

			}

			&:nth-child(3) {
				left: 380px;
				top: 180px;

			}

			&:nth-child(4) {
				left: 340px;
				top: 320px;

			}

			&:nth-child(5) {
				left: 190px;
				top: 390px;

			}

			&:nth-child(6) {
				left: 80px;
				top: 330px;

			}

			&:nth-child(7) {
				left: 30px;
				top: 190px;

			}
		}
	}
}

@media(max-width: 760px) {
	.roulette-module {
		max-width: 300px;
		margin: 0 auto;
		gap: 32px;
	}

	.roulette-title {
		svg {
			width: 24px;
			height: 24px;
		}
	}

	.wheel-prizes {
		li {
			font-size: 8px;

			&:nth-child(1) {
				left: 77px;
				top: 30px;
			}

			&:nth-child(2) {
				left: 150px;
				top: 40px;
			}

			&:nth-child(3) {
				left: 190px;
				top: 100px;
			}

			&:nth-child(4) {
				left: 175px;
				top: 180px;
			}

			&:nth-child(5) {
				left: 84px;
				top: 210px;
			}

			&:nth-child(6) {
				left: 40px;
				top: 170px;
			}

			&:nth-child(7) {
				left: 20px;
				top: 104px;
			}

		}
	}

}

