@import '@/assets/scss/variables';

.profile {
  &-module {
    width: 100%;
    padding: 18px 48px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background: #1d2345;
    border-radius: 26px;
    font-size: 24px;

    @media (max-width: 1500px) {
      padding: 18px;
    }

    @media (max-width: $md2 + px) {
      gap: 24px;
      font-size: 20px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      color: $white;
      font-weight: 600;
    }

    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;

      @media (max-width: $md2 + px) {
        gap: 24px;
      }
    }
  }
}

.info {
  &-item {
    display: flex;
    flex-direction: column;
    gap: 26px;
    text-align: center;
    line-height: 145%;

    input {
      width: 100%;
      font-size: 14px;
      padding: 10px;
      border-radius: 6px 0 0 6px;
      border: 1px solid #5570fb;
    }

    @media (max-width: $md2 + px) {
      gap: 24px;
    }

    h4 {
      color: #bbb;
      font-weight: 500;
    }

    p {
      cursor: pointer;
      color: #5570fb;
      font-weight: 700;
    }
  }
}


.field {
  &-container {
    display: flex;
    align-items: center;
  }
  &-action {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    padding: 3px;
    border-radius: 0px 6px 6px 0px;
    background: #5570fb;
    font-size: 14px;
    transition: 0.15s all ease-in-out;
    &:hover {
      background: #8a55fb;
    }
  }
}